<article id="<%= dom_id artist %>" class="flex flex-col py-2 rounded-2xl hover:bg-gray-200">
  <div class="flex justify-center align-center p-4">
    <%= image_tag "avatar/#{artist.slug}.png", class: "rounded-full" %>
  </div>
  <div class="flex justify-center align-center px-4">
    <h3 class="mx-auto"><%= artist.name %></h3>
  </div>
  <%# <% if action_name != "show" %>
  <%# <%= link_to "Edit this artist", edit_artist_path(artist), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <%# <hr class="mt-6"> %>
  <%# <% end %>
</article>
